{% extends 'base.html' %}
{% block head %} 
<head>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
</head>
{% endblock %}    
{% block content %} 
    <div class="container" id="vueApp">
	<table class="table table-hover table-success">
                    <thead class="thead-default">
                    <tr>
                        <th>名称</th>
                        <th>类型</th>
                        <th>站数</th>
                        <th>票型数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input class="form-control"  v-model="tmp.time_arrival"></input></td>
						<td><input class="form-control"  v-model="tmp.time_start"></input></td>
						<td><input class="form-control"  v-model="tmp.time_stopover"></input></td>
						<td><input class="form-control"  v-model="tmp.price_kind"></input></td>
                    </tr>
                    </tbody>
                </table>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">新增</button>
                <button type="button" class="btn btn-primary" @click="delRows">删除</button>
            </div>
                <table class="table table-hover table-success">
                    <thead class="thead-default">
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>站名</th>
                        <th>到达时间</th>
                        <th>出发时间</th>
                        <th>停站时间</th>
                        <th>票型</th>
                        <th>票价</th>
                    </tr>
                    </thead>
                    <tbody>
					{%raw%}
                    <tr v-for="(t,index) in trains">
                        <td><input type="checkbox" :value="index" v-model="checkedRows"></td>
                        <td><input type="text" v-model="t.name"></td>
                        <td><input type="text" v-model="t.time_arrival"></td>
                        <td><input type="text" v-model="t.time_start"></td>
                        <td><input type="text" v-model="t.time_stopover"></td>
                        <td><input type="text" v-model="t.price_kind"></td>
                        <td><input type="text" v-model="t.price"></td>
                    </tr>
					{%endraw%}
                    </tbody>
                </table>
        <!-- 模态框 -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">新增车站信息</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form_group">
                            站名
                            <input class="form-control" placeholder="站名" v-model="newRow.name"></input>
                        </div>
                        <div class="form_group">
                            到达时间
                            <input class="form-control" placeholder="到达时间" v-model="newRow.time_arrival">
                        </div>
                        <div class="form_group">
                            出发时间
                            <input class="form-control" placeholder="出发时间" v-model="newRow.time_start">
                        </div>
                        <div class="form_group">
                            停站时间
                            <input class="form-control" placeholder="停站时间" v-model="newRow.time_stopover">
                        </div>
                        <div class="form_group">
                            票型
                            <input class="form-control" placeholder="票型" v-model="newRow.price_kind">
                        </div>
                        <div class="form_group">
                            票价
                            <input class="form-control" placeholder="票价" v-model="newRow.price">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" @click="addRow">确认</button>
                    </div>
                </div>
            </div>
        </div>
		 <button  type="button" class="btn btn-primary btn-block btn-raised" v-on:click="submit">提交</button>
    </div>

    <script>
        var datas = [
            {
                name: "",
                time_arrival: "",
                time_start: "",
                time_stopover: "",
                price_kind: "",
                price: ""
            }];
        datas.pop();
        var list = {{list}};
        var price = {{price}};
        var train = {{train}};  
        for (var i=0; i<list.length; i++)
        { 
            for (var j=0; j<price.length; j++) 
            {
                var t = new Object();
                t.name = list[i]['name'];
                t.time_arrival = list[i]['time_arrival'];
                t.time_start = list[i]['time_start'];
                t.time_stopover = list[i]['time_stopover'];
                t.price_kind = price[j];
                t.price = list[i][price[j]];  
                datas.push(t);  
            }
        }
        var abc = {};
        abc.name = train['train_id'];
        abc.time_arrival = train['name'];
        abc.time_start = train['catalog'];
        abc.time_stopover = train['num_station'];
        abc.price_kind = train['num_price'];
        new Vue({
            el: "#vueApp",
            data: {
                checkAll: false,
                checkedRows: [],
                trains: datas,
                newRow:{},
				tmp:abc
            },
            methods: {
                errort: function () {
                    console.log(trains);
                },
                addRow: function () {
                    this.trains.push(this.newRow);
                    this.newRow = {};
                },
                delRows:function () {
                    if (this.checkedRows.length <= 0){
                        alert("您未选择需要删除的数据");
                        return false;
                    }
                    if (!confirm("您确定要删除选择的数据吗？")){
                        return false;
                    }
                    for(var i=0;i<this.checkedRows.length;i++){
                        var checkedRowIndex = this.checkedRows[i];
                        this.trains = $.grep(this.trains,function (trains,j) {
                            return j != checkedRowIndex;
                        });
                    }
                    this.checkedRows = [];
                },
                submit: function (event) {
                    event.preventDefault();
					this.trains.push(this.tmp);
                    $.ajax({
                        type: 'POST',
                        url: '/api/modify_train',
						dataType: 'json',
                        data: JSON.stringify(this.trains),
                        success: function(data){
                            if (data == 1) alert('修改成功');
                        },
                        error: function(XMLHttpRequest, textStatus) {
                            console.log(XMLHttpRequest);
                            alert(XMLHttpRequest.responseText);
                        }
                    });
					this.trains.pop();
                },
            }
        });
    </script>
{% endblock %}